
<%= render "shared/errors", object: resource %>
<section>
	<div class="container py-4">
		<div class="row justify-content-center">
			<div class="col-xl-8">
				<div class="card shadow" style="border-radius: 1rem;">
					<div class="row g-0 pb-3">
						<div class="col-md-6 col-lg-5 text-center">
							<%= image_tag "update.png", class: "img-fluid", style: "border-radius: 10px; filter: drop-shadow(10px 7px 12px #e65646);" %>
							<%= link_to "Delete Account", registration_path(resource_name), data: {controller: "alert", alert_target: "btn",action:"click->alert#confirmation", alert_text_value: "Your account will be deleted permanently", alert_confirm_value: "Yes, Delete!", alert_cancel_value: "No, keep it!" }, class: "btn btn-outline-danger btn-mg mt-2" %>
						</div>
						<div class="col-md-6 col-lg-7 d-flex align-items-center">
							<div class="card-body p-2 p-mg-5 text-black">
								<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, data: { controller: "focus-on-error field"}  }) do |f| %>
									<div class="d-flex align-items-center mb-2 pb-1">
										<span class="h1 fw-bold mb-0">
											<%= image_tag "bus_logo3.png", class: "form_img", style: "filter: drop-shadow(2px 5px 4px #e65646);" %> 
										</span>
										<span class="h2 fw-bold mb-0"> Update account</span>
									</div>
									<%= f.text_field :name, placeholder: "Enter name", required: "", autofocus: true, class: "form-control form-control-mg mb-2" %>
									<%= f.email_field :email, placeholder: "Enter email", required: "", autofocus: true, class: "form-control form-control-mg mb-2", autocomplete: "email" %>
									<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
										<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
									<% end %>
									<%= f.password_field :password, placeholder: "Password", class: "form-control form-control-mg mb-2", autocomplete: "new-password" %>
									<% if @minimum_password_length %>
										<em>(<%= @minimum_password_length %> characters minimum)</em><br>
									<% end %>
									<%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "form-control form-control-mg mb-2", autocomplete: "new-password" %>
									<i>(we need your current password to confirm your changes)</i><br>
									<%= f.password_field :current_password, autocomplete: "password", class: "form-control form-control-mg mb-2", placeholder: "current password", autofocus: true %>
									<% if resource.bus_owner? %>
										<%= f.text_field :registration_no, placeholder: "Registration no", required: "", class: "form-control form-control-mg mb-2" %>
									<% end %>  
									<%= f.submit "Update Account", class: "btn btn-outline-success btn-mg" %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>